  .fontSize25{
    font-size: 25.5px;
  }
  .divInput{
     margin:10px;
     border:1px solid #31b932;
     border-radius:5px;
     height:40px;
     line-height:40px;
    font-size: 25.5px;
    position:relative;
  }
  .spanLabel{
    margin-left:5px;
    font-size: 20px;
    color:#bebebe;
    
  }
  .spanSymbel{
    float:right;
    color:#bebebe;
    font-weight: bold;
  }
  .spanAmt{
    float:right;
  }
  .am-number-keyboard-item a:active{
    background-color: yellow;
  }
  .btn{
    display: inline-block;
    width: 100%;
    height:100%;
    line-height: 50px;
  }
  .btn:active{
    background-color:#eee;
  }


